/* subscribe */
.subscribe-section {
}
.subscribe__title {
  color: $text-white;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  margin: 0px;
  padding-bottom: 21px;
  text-transform: uppercase;
}
.subscribe__input {
  width: 358px;
  height: 50px;
  background-color: $foot-bg;
  border: 1px solid $border-input;
  border-radius: 4px;
  color: $text-white;
}
.subscribe__button {
  @include flexcentered();
  justify-content: center;

  width: 200px;
  height: 50px;
  background-color: $text-blue;
  color: $text-white;
  border-radius: 4px;
  margin-left: 12px;
  border: 1px solid $text-blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &--icon::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-send.svg);
    background-size: contain;
    margin-left: 10px;
  }
}

.button-div {
  display: flex;

  & input {
    margin: 0;
    padding: 18px 12px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.svg-send {
  fill: currentColor;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
