/* customer */

.customer {

  @media screen and (max-width: 1199px) {
  display: flex;
  flex-direction: column;

  align-items: center;
}
}
.customer_title {
  color: $text-black;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-top: 94px;
  /* padding-bottom: 50px; */
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 50px;
}
.customer_content {
  display: flex;
// justify-content: center;
  // justify-content: space-between;
  margin-bottom: 94px;


      flex-wrap: wrap;
      justify-content: center;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  
  @media screen and (min-width: 768px) {
      max-width: 768px;
  }
  
  @media screen and (min-width: 1200px) {
      max-width: 1200px;
      flex-wrap: nowrap;
  }


}
.customer__item {
  // margin-left: 30px;
  width: calc((100% - 2 * 30px) / 2);;
  border: 1px solid $border;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
margin-bottom: 0px;
}

  &:nth-child(2n) {
    @media screen and (max-width: 1199px) {
      margin-right: 0px;
    }
  
  }

  &:first-child {
    margin-left: 0px;
  }

  &:nth-child(n+5) {
      margin-bottom: 0px;
  
}
&:last-child {
  @media screen and (min-width: 1200px) {
  margin-right: 0px;
} 
}
}

.customer__link {
  @include flexcentered();
  justify-content: center;
  height: 90px;
  color: $border;
  @include transition();

  &:hover, &:focus {
    color: $text-blue;
    border: 1px solid $text-blue;
  }
}

.icon-logo1 {
  fill: currentColor;
  height: 50px;
}
.icon-logo2 {
  fill: currentColor;
  height: 50px;
}
.icon-logo3 {
  fill: currentColor;
  height: 50px;
}
.icon-logo4 {
  fill: currentColor;
  height: 50px;
}
.icon-logo5 {
  fill: currentColor;
  height: 50px;
}
.icon-logo6 {
  fill: currentColor;
  height: 50px;
}

.customer_image {
}
