.page-hero {
  color: $text-white;
  text-align: center;
  letter-spacing: 0.06em;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  background-color: darkgray;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Hero-body.jpg);

  // @media screen and (min-width: 480px) {
  //   width: 480px;
  //   height: 400px;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 768px;
  //   height: 600px;
  // }

  // @media screen and (min-width: 1140px) {
  //   width: 1600px;
  // }
}

.page-hero__title {
  padding-top: 200px;
  padding-bottom: 46px;
  color: $text-white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin: 0px;

  // @media screen and (min-width: 480px) {
  //   font-size: 26px;
  //   line-height: 1.62;
  // }
}
.page-hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: $text-white;
  background-color: $text-blue;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  @include transition();

  &:hover,
  &:focus {
    background-color: $text-white;
    color: $text-blue;
    border: 1px solid $text-blue;
  }
}
