/* CARD-SET MENU */
.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 94px;
}
.card-set__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow 250ms $cubic;

  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.card-set__img {
  position: relative;
  overflow: hidden;
}

.card-set__link {
}
.card-set__p {
  position: absolute;
}

.filter-about {
  color: $text-white;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  margin: 0px;
}

.card-set__tabs {
  padding: 20px 24px;
  border: 1px solid $border-card;
  box-shadow: 0px;
}

.card-set__p {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $portfolio-cart-before;

  transform: translateY(100%);
  opacity: 1;

  transition: transform 250ms $cubic, opacity 250ms $cubic,
    box-shadow 250ms $cubic;

  .card-set__item:hover & {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.card-set__title {
  color: $text-black;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px;
}
.card-set__text {
  color: $text-grey;
  font-size: 16px;
  line-height: 1.87;
  padding-bottom: 20px;
  margin: 0px;
}
